<html>
<head><title>Hello Ansible-world!</title></head>
<body>
This is a jinja2 template trying to become an index page. BTW, this is {{ ansible_hostname }}, everything's working just fine :D
</body>
</html>
